<%- include('layouts/header') %>
<%- include('layouts/message') %>
<body>
    <main>
              
        <form class="loginForm" action="/login" method="POST" onsubmit="return true">
            <h1>Welcome</h1>
            <% if(typeof(errors) != 'undefined'){%>
                <% for (let i = 0; i < errors.length; i++) {%>
                    <p class="validationMessage" id="loginValidation"><%= errors[i] %></p>                    
               <% } %>
                                
            <%} %>  
            <% if(typeof(tempMessage) != 'undefined') {%>    
                <span class="tempMessage"><%= tempMessage %></span>
            <%}%>    
            <% if(typeof(errorMsg) != 'undefined'){ %>
                <p class="validationMessage" id="loginValidation"><%= errorMsg %></p>
            <%} %>    
            <div class="fields-wrapper">                
                <input class="form-control loginInput" type="text" name="email" placeholder="email" required>                            
            </div>
            <div class="fields-wrapper">                
                <input class="form-control loginInput" type="password" name="password" required placeholder="password">
            </div>
            <div class="fields-wrapper">
                <input class="submitButton btn btn-primary btn-lg btn-block" id="submit" type="submit" value="Login">
            </div>
            <a href="/register">New? Register!</a>
            <p></p>
            <h3><a href="/demo">Try it out!</a></h3>
        </form>                
    </main>
    
</body>
<%- include('layouts/footer') %></main>