<%- include('../layouts/header') %>

<body>
    <main>
        <h1>Categories</h1>
        <a href="/categories/add">New Category</a>
        <table>
            <thead>
                <tr>
                    <th>Name</th>                    
                </tr>
            </thead>
            <tbody>
                <% for (let i = 0; i < categories.length; i++) {%>
                    <tr>
                        <td><%= categories[i].name %></td>                        
                        <td><a href="categories/edit/<%= categories[i].name%>">Edit</a> | <a href="categories/delete/<%= categories[i].name%>">Delete</a></td>
                    </tr>                    
               <% }  %> 
                
            </tbody>
        </table>
    </main>    
    
</body>
<%- include('../layouts/footer') %>